.divContador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 10vw;
  border: solid 5px rgb(122, 32, 32);
  border-radius: 15px;
}

.divContador div button {
  margin: 5;
}

.botones {
  border-radius: 10px;
}
