.divContador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  width: 10vw;
  border: solid 1px blue;
}

.divContador div button {
  margin: 5;
}
